

.p{
    position: absolute;
width: 35%;
height: 10%;
left: 5%;
top:50%;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 140%;

 

color: #08072E;
}
/* .h{
    left:30px
} */
.but{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.5% 4%;

position: absolute;
width: 10%;
height: 5%;
left: 70%;
top: 60%;
float: right;
background: #3D50C7;
border-radius: 10px;

}
.wel{
    position:absolute;
width: 73%;
height: 37%;
left:15%;
top: 10%;


background: rgba(246, 233, 173, 0.7);
border-radius: 15px;
}
.hh{
    top:30%;
    left: 70%;
}