.App {
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.home {
  position: absolute;
  width: 117px;
  height: 39px;
  left: 65px;
  top: 150px;
  color: black;
}
.left {
  position: absolute;
  width: 11%;
  height: 100vh;
  left:0%;
  top: 0%;
  border-radius: 0px;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #eff1fb;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 11%;
  height: 100vh;
  left: 90%;
  top: 0px;
  right: 0%;
  bottom: 0%;
  background: #eff1fb;

}
.Emp {
  position: absolute;
  width: 105px;
  height: 39px;
  left: 65px;
  top: 250px;
  color: black;
}
.fas-fa-align-justify {
  position: absolute;
  width: 44px;
  height: 12px;
  left: 25px;
  top: 56px;

  border: 1px solid #666666;
}
.Pay {
  position: absolute;
  width: 74px;
  height: 39px;
  left: 65px;
  top: 350px;
  color: black;
}
.btnadd {
  width: 177px;
  height: 54px;
  top: 245px;
  margin-left: 10%;
  border: 2px solid #3d50c7;
  border-radius: 10px;
  background-color: transparent;
}

.btntask {
  width: 177px;
  height: 54px;
  top: 245px;
  margin-top: 20px;
  margin-left: 35px;
  border: 2px solid #3d50c7;
  border-radius: 10px;
  background-color: transparent;
}
.card{
 flex-direction:row;
  width: 60%;
  align-items: center;
  margin-left: 15%;
 display: flex;
 justify-content: space-between;
 border: none;
 text-align: center;
 margin-top: 20%;
 height:70%;
  }
  .present{
 color: #71D6D0;
padding-top: 2%;
 height: 128px;
 width: 18%;
 background-color:#FBFDFF;
 box-shadow: 0px 4px 8px rgba(5, 7, 20, 0.1);
  }
.absent{
  color: #FF5959;
  ;
  padding-top: 2%;
   height: 128px;
   width: 18%;
   background-color:#FBFDFF;
   box-shadow: 0px 4px 8px rgba(5, 7, 20, 0.1);
}
.onLeave{
  color: #FF5959;
  ;
  padding-top: 2%;
   height: 128px;
   width: 18%;
   background-color:#FBFDFF;
   box-shadow: 0px 4px 8px rgba(5, 7, 20, 0.1);
}
.totalEmployee{
  color: #FF5959;
  ;
  padding-top: 2%;
   height: 128px;
   width: 18%;
   background-color:#FBFDFF;
   box-shadow: 0px 4px 8px rgba(5, 7, 20, 0.1);
}
